.haphazardSwal.swal2-popup {
	background: var(--ion-background-color);
}
.haphazardSwal.swal2-popup #swal2-title {
	word-wrap: normal;
	overflow-wrap: anywhere;
	white-space: normal;
	color: var(--ion-text-color);
}
.haphazardSwal.swal2-popup.swal2-toast,
.haphazardSwal.swal2-popup.swal2-toast #swal2-title {
	background: var(--ion-color-success);
	color: var(--ion-color-success-contrast);
	box-shadow: 0 0 0.625em var(--ion-color-success-tint);
}
.haphazardSwal.swal2-popup.swal2-toast.warnToast,
.haphazardSwal.swal2-popup.swal2-toast.warnToast #swal2-title {
	background: var(--ion-color-warning);
	color: var(--ion-color-warning-contrast);
	box-shadow: 0 0 0.625em var(--ion-color-warning-tint);
}
.haphazardSwal.swal2-popup.swal2-toast.dangerToast,
.haphazardSwal.swal2-popup.swal2-toast.dangerToast #swal2-title {
	background: var(--ion-color-danger);
	color: var(--ion-color-danger-contrast);
	box-shadow: 0 0 0.625em var(--ion-color-danger-tint);
}
.haphazardSwal.swal2-popup .swal2-content {
	color: var(--ion-color-primary-shade);
	word-wrap: normal;
	overflow-wrap: anywhere;
	white-space: normal;
}
.haphazardSwal.swal2-popup .swal2-confirm {
	background-color: var(--ion-color-success);
	color: var(--ion-color-success-contrast);
	border-color: var(--ion-color-success-shade);
}
.haphazardSwal.swal2-popup.deleteConfirm .swal2-confirm {
	background-color: var(--ion-color-danger);
	color: var(--ion-color-danger-contrast);
	border-color: var(--ion-color-danger-shade);
}
.haphazardSwal.swal2-popup.warningConfirm .swal2-confirm {
	background-color: var(--ion-color-warning);
	color: var(--ion-color-warning-contrast);
	border-color: var(--ion-color-warning-shade);
}
.haphazardSwal.swal2-popup .swal2-icon.swal2-error,
.haphazardSwal.swal2-popup .swal2-x-mark-line-left,
.haphazardSwal.swal2-popup .swal2-x-mark-line-right {
	color: var(--ion-color-danger);
	border-color: var(--ion-color-danger);
}
.haphazardSwal.swal2-popup .swal2-x-mark .swal2-x-mark-line-left,
.haphazardSwal.swal2-popup .swal2-x-mark .swal2-x-mark-line-right {
	background-color: var(--ion-color-danger);
}
.haphazardSwal.swal2-popup .swal2-icon.swal2-warning,
.haphazardSwal.swal2-popup .swal2-icon.swal2-warning .swal2-icon-content {
	color: var(--ion-color-warning);
	border-color: var(--ion-color-warning);
}
